<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <nav style="background-color: rgb(12, 227, 156);height:10vh;align-items: center;">
        
        <button type="button" onclick="window.location.href='/api/register_new/'" style="height: 7vh;">Register new User</button>
        <button type="button" onclick="window.location.href='/api/login_user/'" style="height: 7vh;">Login</button>
        <button type="button" onclick="window.location.href='/api/single_user/{{user_id}}'" style="height: 7vh;">User Profile</button>

    </nav>
    
</body>
</html>