<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <title>Products</title>
    <style>
        .scrollable-container {
            max-height: 80vh; 
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <header style="background-color: rgb(6, 139, 51);height: 7vh;font-weight: bolder;
                       display: flex;justify-content: center;align-items: center;">
    <p>Available Products</p>
    <button type="button" class="btn btn-info" onclick="window.location.href='/api/admin_options/'" style="margin-left: 40%;">Admin-home</button>
    </header>
    <hr>
    {% if error is True %}
    <p>{{massage}}</p>
    {% else %}
    <hr>
    
    <div class="container mt-4">
        <h1>{{success}}</h1>
        <hr>
        <div class="scrollable-container">
            <div class="row">
                {% for product in products %}
             <div class="col-md-4 mb-4">   <!--  3 cards would be in one row only -->
                    <div class="card h-100">
                        <img src="{{ product.product_image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item font-weight-bold" style="font-weight: bolder;">Price: {{ product.price }}</li>
                            </ul>
                            <p class="card-text">{{ product.product_description }}</p>
                            <a href="#" class="btn btn-primary" onclick="window.location.href='/api/update_product/{{product.id}}'">Add to Cart</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <footer style="background-color: rgb(18, 78, 2);height: 7vh;font-weight:bolder;position: fixed;bottom: 0;width: 100%;z-index: 1000;
                    display: flex; justify-content: center;align-items: center;">ShopNow Axim</footer>
</body>
</html>
