<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <title>Ordered Items</title>
    <style>
        .product-image {
            width: 100px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            object-fit: cover; /* Ensure the image covers the area nicely */
        }
        
    </style>
</head>
<body>

    <div class="container mt-5">
        {% if Items_details %}
           

            <table class="table table-bordered">
                        
                <thead> 
                    <tr>
                        <th>Customer Name</th>
                        <td>{{orders}}</td>
                    </tr>
                    <tr>
                        <th>Order id </th>
                        <th>Product </th>
                        <th>Price </th>
                        <th>Quantity </th>
                    </tr>
                    
                </thead>
               
                <tbody>
                    {% for item in Items_details %}
                    <tr>
                        <td>{{item.order}}</td> 
                        <td>{{ item.product }}</td>
                        <td>{{ item.price }}</td>
                        <td>{{ item.quantity }}</td>
                        </tr>
                    {% endfor %}
                   
                    </tr>
                    <tr>
                        <th>Total bill:</th>
                        <td> {{total_bill}}</td>
                    </tr>
                </tbody>
              
   
            </table>
        {% else %}
            <p>{{massage}}</p>
        {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
