<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <title>Products</title>
    <style>
        .scrollable-container {
            max-height: 80vh; /* Adjust the height for vertical scrolling */
            overflow-y: auto;
        }
    </style>
</head>

<body>
    <header class="header-container">
        <div class="header-content d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <button type="button" class="btn btn-primary me-3" onclick="window.location.href='/api/home/'">Home</button>
                <button type="button" class="btn btn-secondary me-3" onclick="window.location.href='/api/admin_options/'">Admin Home</button>
            </div>
            <p class="mb-0 me-3">Available Products</p>
            <form class="form-inline my-2 my-lg-0 d-flex" style="gap: 10px;" method="post" action="{% url 'searchView' %}">
                {% csrf_token %}
                <input name="product_name" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
            </form>
                     <div class="dropdown me-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="priceSortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by Price
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="priceSortDropdown">
                        <li><a class="dropdown-item" href="?page=1&sort=low_to_high">Low to High</a></li>
                        <li><a class="dropdown-item" href="?page=1&sort=high_to_low">High to Low</a></li>
                    </ul>
                </div>
        </div>
    </header>
    <hr>
    {% if error is True %}
    <p>{{message}}</p>
    {% else %}
    <hr>
    
    <div class="container mt-4">
        <h1>{{success}}</h1>
        <hr>
        <div class="scrollable-container">
            <div class="row">
                {% for product in products %}
             <div class="col-md-4 mb-4">   <!--  3 cards would be in one row only -->
                    <div class="card h-100">
                        <img src="{{ product.product_image }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.product_name }}</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item font-weight-bold" style="font-weight: bolder;">Price: {{ product.price }}</li>
                            </ul>
                            <p class="card-text">{{ product.product_description }}</p>
                            <a href="#" class="btn btn-primary" onclick="window.location.href='/api/update_product/{{product.id}}'">Update</a>
                            <a href="#" class="btn btn-primary" onclick="window.location.href='/api/delete_product/{{product.id}}'">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
  
    <footer style="background-color: rgb(18, 78, 2); padding: 5px; height: 7vh; font-weight: bolder; position: fixed; bottom: 0; width: 100%; z-index: 1000; display: flex; justify-content: space-between; align-items: center; padding-left: 20px; padding-right: 20px;">
        <p>ShopNow Axim</p>
        <div>
        {% if prev %}
            <button type="button" class="btn btn-info" onclick="window.location.href='?sort={{sort}}&page={{ prev }}'">Previous</button>
        {% endif %}
        <span style="margin: 0 10px;">||</span>
        {% if next %}
            <button type="button" class="btn btn-info" onclick="window.location.href='?sort={{sort}}&page={{ next }}'">Next</button>
        {% endif %}
        </div>
    </footer>
</body>
</html>
